HELP.md
/twitter-Backend/target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
/twitter-Backend/.idea
/twitter-Backend/*.iws
/twitter-Backend/*.iml
/twitter-Backend/*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
/twitter-Backend/.vscode/
/twitter-front/.vscode/